# Ignore all files in the build directory
build/

# Ignore all JavaScript files in the node_modules directory
node_modules/**/*.js

# Ignore a specific file
src/legacyCode.js

# Ignore all files with .test.js extension
*.test.js
